{% extends "layout.html" %}

{% block title %}
{{product.name}}
{% endblock title %}

{% block content %}

<h5>Name: {{ product.name }}</h5>
<h5>Price: ${{ product.price | round(2) }}</h5>
<h5>Stock: {{ product.stock }}</h5>
<img src="{{ url_for('products_view.get_image', image_name=(product.image_name if product.image_name else '---')) }}">
<hr>
<a href="{{ url_for('products_view.list') }}">Back</a>
<span> | </span>
<a href="{{ url_for('products_view.edit', id = product.id) }}">Edit</a>
<span> | </span>
<a onclick="confirmDelete()" href="{{ url_for('products_view.delete', id = product.id) }}">Delete</a>


{% endblock content %}